<section class="hero-img cta is-link">
    <div class="dark-mask"></div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-3">
                Are you ready to rock?
            </h1>
            <h2 class="subtitle">
                Have a look at our demo server, or install your own!
            </h2>
            <div class="columns">
                <div class="column is-offset-1 is-2">
                    <a class="button is-medium is-white is-outlined is-fullwidth" href="https:///github.com/docmarty84/koozic"
                        target="new">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>Hack it!</span>
                    </a>
                </div>
                <div class="column is-offset-2 is-2">
                    <a class="button is-medium is-white is-fullwidth" href="/installation">
                        <span class="icon">
                            <i class="fas fa-download"></i>
                        </span>
                        <span>Download it!</span>
                    </a>
                </div>
                <div class="column is-offset-2 is-2">
                    <a class="button is-medium is-white is-outlined is-fullwidth"
                        href="https://demo.koozic.net/public" target="new">
                        <span class="icon">
                            <i class="fas fa-music"></i>
                        </span>
                        <span>Try it!</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
