<section class="hero-img main is-link is-fullheight-with-navbar">
    <div class="dark-mask"></div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                {{ .Title }}
            </h1>
            <h2 class="subtitle">
                {{ .Site.Params.Subtitle }}
            </h2>
            <div class="columns">
                <div class="column is-offset-4 is-2">
                    <a class="button is-medium is-white is-fullwidth" href="/installation">
                        <span class="icon is-large">
                            <i class="fas fa-download"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </div>
                <div class="column is-2">
                    <a class="button is-medium is-white is-outlined is-fullwidth"
                        href="https://demo.koozic.net/public" target="new">
                        <span class="icon is-large">
                            <i class="fas fa-music"></i>
                        </span>
                        <span>Demo</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
