<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
        <p>
            <span class="icon is-large has-text-black"><a href="https://twitter.com/koozicsoft" class="my-light">
                    <i class="fab fa-twitter fa-3x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="https://github.com/DocMarty84" class="my-light">
                    <i class="fab fa-github fa-3x"></i></a></span>&nbsp;&nbsp;
            <br><br>
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" class="my-light">
                Licence Creative Commons Attribution 4.0 International
            </a>
        </p>
    </div>
</footer>
