{{ range $index, $element := sort .Site.Data.gallery "weight" }}
{{ if eq (mod $index 3) 0 }}
    <div class="row">
{{ end }}
        <div class="col-md-4">
            <a href="{{ $element.image }}" target="new">
                <img src="{{ $element.image }}" alt="{{ $element.title }}" class="img-responsive"/>
            </a>
            <p class="text-center">{{ $element.description }}</p>
        </div>
{{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.see_more) 1 )) }}
    </div>
    <br/>
{{ end }}
{{ end }}
